h1
{
    color: rgb(32, 1, 73);
}

body
{
    background:"84249.jpg";
}

body
{
	background: rgb(219, 168, 248);
}

	.login_div1 , .login_div2
	{
		background: white;
		padding: 10px;
		float: none;
		border-radius: 15px;
	}


#player1_name , #player2_name
{
	display: inline-block;
	margin-left: 20px;
}
#word
{
	width: 60%;
}
#word_display
{
	letter-spacing: 10px;
}
#output
{
background: white;
border-radius: 10px;
border-top: 10px solid #AA4465;
padding: 10px;
float: none;
text-align: left;
}

button:hover { background-color: #6805a1; /* Green */ color: white; height: 60px; width: 80px;}
button{ background-color: #a805d1;}


